body{
    background:rgb(11, 12, 45);
    margin: auto;
}

.container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    flex-direction: column;
}

.poste{
    height: 420px;
    width: 83px;
    background-image: url(poste.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.luz{
    position: relative;
    top: 37px;
    right: 145px;
    width: 40px;
    height: 0;
    border-bottom: 383px solid ;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    filter: opacity(0)
}

.chao{
    background-color: rgb(68, 62, 62);
    height: 10px;
    width: 100%;
    
}

.botoes{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 70px;
}

input{
    height: 25px;
    width: 100px;
    background-color: gray;
    box-shadow: 5px 5px 10px 2px black;
    font-weight: 700;

}